<div class="container mt-5">
    <h1 class="text-center mb-4">Detalles del Empleado</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Cargo</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.empleado.Nombre</td>
                <td>@ViewBag.empleado.Telefono</td>
                <td>@ViewBag.empleado.Cargo</td>
                <td>@ViewBag.empleado.Email</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    body {
        background-image: url('https://i.ibb.co/jDHk8gH/Tarjeta-Felicitaci-n-de-Graduaci-n-Ilustrado-Azul-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .container {
        border-radius: 10px;
        padding: 20px;
        margin-top: 80px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        color: white;
    }

    .table {
        width: 100%; /* Asegura que la tabla abarque toda el área disponible */
        text-align: center; /* Centra el contenido de las celdas */
        color: white;
        margin: 0 auto; /* Centra la tabla horizontalmente */
    }

        .table th,
        .table td {
            text-align: center; /* Centra el texto en las celdas */
            vertical-align: middle; /* Centra el texto verticalmente */
        }

       

        .table tbody tr:hover {
            background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
        }
</style>
