@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #22333b;
        color: white;
    }

    .container {
        background-color: #eae0d5;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .colorcito {
        color: #5e503f;
    }


</style>

<div class="container mt-5">
    <div class="text-center py-5 bg-light rounded shadow-lg">
        <h1 class="display-3 fw-bold colorcito">Universidad Católica de El Salvador</h1>
        <h3 class="display-4 fw-bold colorcito">Facultad de Ingeniería y Arquitectura</h3>
        <img src="https://i.ibb.co/0BcPgSR/Dise-o-sin-t-tulo-16.png" alt="Logo UNICAES" /><br>
        <h2 class="colorcito"><b>Carrera:</b> Ingeniería en Desarrollo de Software</h2><br>
        <h2 class="colorcito"><b>Asignatura:</b> Aplicación de Técnicas de Ingeniería de Software</h1><br>
        <h2 class="colorcito"><b>Tema:</b> Menú de navegación</h1><br>
        <h2 class="colorcito"><b>Alumnos:</b></h2>
        <h3 class="colorcito">
            Paola Valeria Vidal Magaña <br>
            Eyleen Jeannethe Salinas Hernández<br>
            Rodolfo Rivas Rodriguez<br>
            Wilber Anibal Rivas Carranza
        </h3>
        <h2 class="colorcito"><b>Fecha:</b></h2>
        <h3 class="colorcito">@ViewBag.FechaActual</h3>

    </div>
</div>
